.site{
	width:1300px;
	height:700px;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
	background-color:white;
}

.header{
	width:1300px;
	height:100px;
	background-color:#3A5FCD;
}
.logo{
	width:120px;
	height:100px;
	float:left;
	margin-top:;
	margin-left:30px;
}
.login{	
	height:80px;
	float:right;
	/*top:20px;*/
	width:43%;
	margin-top:10px;
	margin-right: 10px;
	border-radius: 10px;
}
#email_login_tf{
	background: white;
	border:1px;
	border-radius:5px;
}

#senha_login_tf{
	background: white;
	border:1px;
	border-radius:5px;
}

#botao_login{
	font-family:"arial";
	color:#3A5FCD;
	background-color:white;
	border-radius:5px;
	border-bottom-color:#27408B;
	border-bottom-style:ridge;
	font-weight:bold;
    border:10px;	 
    width:80px;
    height:19px;
}

#senha {
	color:white;
	margin-top:25px;
}

#email_l{
	color:white;
	font-family:"arial";
	font-size:15px;
}

#senha_l{
	color:white;
	font-family:"arial";
	font-size:15px;
}

.conteudo{
	width:1300px;
	height:500px;
	
}

.footer{
	width:1300px;
	height:100px;
	background-color:#3A5FCD;
}

.conteudo-left{
	width:50%;
	height:500px;
	float:left;
	background-color:;
}

.descricaoTeleduc{
	float:left;
	height:220px;
	width:600px;
	margin-top:190px;
	margin-left:47px;
	background-color:;
	border-right:;
	border-color:gray;
	background-color:;
}

#teleduc_l{
	float:right;
	margin-top:;
	font-family:;
	font-size:50px;
	background-color:;
		font-family:century gothic;
}

.resumoTeleduc{
	float:right;
	background-color:;
	margin-right:5px;
	margin-top:10px;
	text-align:right;
	height:;
	width:80%;
	font-family:century gothic;
}


.conteudo-right{
	height:500px;
	float:right;
	width:50%;
}


.cadastro_inicial{
	height:220px;
	width:600px;
	margin-top:200px;
	margin-right:50px;
	background-color:;
	border-left:1px solid;
	border-color:gray;
	background-color:;
}
#cadastro_l{
	width:500px;
	height:60px;
	float:left;
	margin-top:;
	margin-left:6px;
	font-family: century gothic;
	font-size:35px;
	background-color:;
	
}

#primeiro_nome_tf{
	font-family:century gothic;
	font-size:13px;
	border-radius:5px;
	margin-left:6px;
	border:1px;
	background-color:#E8E8E8;
}

#sobrenome_tf{
	font-family:century gothic;
	font-size:13px;
	border-radius:5px;
	border:1px;
	background-color:#E8E8E8;
	
}

#email_tf{
	font-family:century gothic;
	font-size:13px;
	width:270px;
	border-radius:5px;
	margin-left:6px;
	border:1px;
	background-color:#E8E8E8;
}

#senha_tf{
	font-family:century gothic;
	font-size:13px;
	border-radius:5px;
	margin-left:6px;
	border:1px;
	background-color:#E8E8E8;
}

#confirma_senha_tf{
	font-family:century gothic;
	font-size:13px;
	border-radius:5px;
	border:1px;
	background-color:#E8E8E8;
}


#botao_pronto{	
	font-family:century gothic;
	font-size:13px;
	color:white;
	border-radius:2px;
	margin-left:6px;
	width:270px;
	border:1px;
	background-color:#3A5FCD;
	
}


.msg{
	font-family:century gothic;
	color:red;
	margin-left:10px;
	font-size:13px;
}

/*Popup Cadstro Curso*/

#form_cadastrar_curso{
	border-color: black;
	border-radius: 10px solid;
	background-color:;
	width:;
	height:;
	margin-left:;
	margin-top:;

}

/*Tela de cadastrar aluno*/

.form_cadastrar_aluno{
	border-color: black;
	border-radius: 10px solid;
	background-color:;
	width:400px;
	height:200px;
	margin-left:500px;
	margin-top:100px;

}
